<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user.nickname %>さんの投稿された<%= @post.image %>(comment:<%= @post.comment %>)が販売可能になりました！</h3>
    <p>画像の在庫数、販売単価を入力して画像を販売しましょう！</p>
  </body>
</html>